.category-container {
  margin: 2rem 5%;
  display: flex;
  justify-content: space-between;
}

.category-card {
  flex: 0 0 48%;
  position: relative;
}

.category-image {
  object-fit: contain;
  width: 100%;
}

.category-card-title {
  font-size: 3.3em;
  width: 100%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  color: #fff;
}
