.header-container {
  margin: 1rem 5%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.header-brand {
  flex: 0 0 18%;
}

.header-brand-logo {
  width: 100%;
}

.header-actions {
  flex: 0 0 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.header-search-form {
  flex: 0 0 60%;
  display: flex;
}

.search-icon {
  width: 100%;
  max-width: 2.5rem;
  padding: 0.5rem;
  background-color: #dedede;
}

.header-search-form > input {
  width: 100%;
  padding: 0.6rem 0.5rem;
  color: #6b6b6b;
  font-size: 1rem;
  font-weight: bolder;
  background-color: #eee;
  border: none;
}

.header-search-form > input:focus {
  outline: none;
}

.header-button {
  padding: 0.4rem 1rem;
  font-size: 1.1rem;
  background-color: white;
  border: 1px solid #000;
}

.header-icon {
  max-width: 2.3rem;
}

.shopping-cart-container {
  position: relative;
}

.shopping-cart-tooltip {
  position: absolute;
  top: -25px;
  right: -10px;
  z-index: 1;
  background-color: #5b17aa;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (min-width: 600px) and (max-width: 899px) {
  .header-brand {
    flex: 0 0 100%;
    text-align: center;
  }

  .header-brand-logo {
    width: 100%;
    max-width: 15rem;
  }

  .header-actions {
    flex: 0 0 100%;
  }

  .header-search-form {
    flex: 0 0 40%;
    display: flex;
  }
}

@media (max-width: 599px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'headerbrand'
      'searchform';
  }

  .header-brand {
    grid-area: headerbrand;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .header-actions {
    grid-area: searchform;
  }

  .header-search-form {
    flex: 0 0 100%;
  }

  .header-brand-logo {
    width: 100%;
    width: 10rem;
    max-width: 10rem;
  }

  .menu {
    cursor: pointer;
  }
}
