.header-container {
  margin: 1rem 5%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.header-brand {
  flex: 0 0 18%;
}

.header-brand-logo {
  width: 100%;
}

.header-actions {
  flex: 0 0 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.header-search-form {
  flex: 0 0 60%;
  display: flex;
}

.search-icon {
  width: 100%;
  max-width: 2.5rem;
  padding: 0.5rem;
  background-color: #dedede;
}

.header-search-form > input {
  width: 100%;
  padding: 0.6rem 0.5rem;
  color: #6b6b6b;
  font-size: 1rem;
  font-weight: bolder;
  background-color: #eee;
  border: none;
}

.header-search-form > input:focus {
  outline: none;
}

.header-button {
  padding: 0.4rem 1rem;
  font-size: 1.1rem;
  background-color: white;
  border: 1px solid #000;
}

.header-icon {
  max-width: 2.3rem;
}
