.footer-container {
  background-color: #000;
  color: #fff;
  margin-top: 4rem;
  padding: 4rem 0 0;
}

.footer-information {
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
}

.footer-title {
  font-size: 1.5rem;
}

.footer-description,
.footer-copyright-description {
  font-size: 1.1rem;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
}

.footer-icon {
  flex: 0 0 22%;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}

.footer-image {
  flex: 0 0 20%;
  max-width: 2.2rem;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.2rem;
}

.footer-copyright {
  margin: 0 1.2rem;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #fff;
}

.footer-copyright-description {
  margin: 0;
}

@media (max-width: 599px) {
  .footer-information {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
  }

  .footer-mobile-section {
    width: 80%;
  }

  .footer-title-container {
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-description-container {
    overflow-y: hidden;
    height: 0;
  }

  .footer-description-container.show-more {
    height: fit-content;
  }

  .footer-section-social-media {
    width: 80%;
  }

  .footer-icons {
    justify-content: flex-start;
  }

  .footer-image {
    margin-right: 0.5rem;
  }

  .footer-copyright {
    border-top: none;
  }

  .footer-copyright-description {
    font-size: 0.8rem;
  }
}
