.popular-products-container {
  margin: 0 5%;
}

.popular-products-header {
  text-align: center;
}

.popular-products-body {
  width: 100%;
  display: grid;
  grid-template-columns: 8% 80% 8%;
  grid-template-rows: auto;
  grid-template-areas: 'leftarrow products rightarrow';
  justify-content: center;
  gap: 0.5rem;
}

.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
}

.arrow-left {
  grid-area: leftarrow;
  justify-content: flex-start;
}

.arrow-right {
  grid-area: rightarrow;
  justify-content: flex-end;
}

.arrow-image {
  width: 100%;
  max-width: 2rem;
  cursor: pointer;
}

.popular-products-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
