.popular-products-container {
  margin: 0 5%;
}

.popular-products-header {
  text-align: center;
}

.popular-products-body {
  width: 100%;
  display: grid;
  grid-template-columns: 8% 80% 8%;
  grid-template-rows: auto;
  grid-template-areas: 'leftarrow products rightarrow';
  justify-content: center;
  gap: 0.5rem;
}
