*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (max-width: 599px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  body {
    overflow-x: hidden;
  }

  body.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
}
